.textStyle {
    font-size: 238%;
    font-family: cursive;
    font-weight: 700;
    text-decoration: underline;
}

.headerDiv, .namesDiv {
	height: 15%;
	width: 99%;
	margin-top: 1%;
}

.namesDiv {
	margin-top: -2%;
}

.names {
	animation-delay: 6s;
	color: black;
	opacity: 0%;
	animation: name 6s 1 linear;
    animation-fill-mode: forwards;
}

@keyframes name {
	0% { 
		opacity: 0; 
	}
	90% {
		opacity: 0;
	}
    95% { 
    	opacity: 0.5; 
   	}
   	100% { 
    	opacity: 1; 
   	}
}

.font-header {
	color: lightgoldenrodyellow;
    font-size: 48px;
    font-family: cursive;
    text-shadow: 5px 0 black, 0 1px black, 1px 0 blue, 0 -1px red;
}

.bookDiv {
	height: 69%;
	width:99%;
	margin-top: 2%;
}

.backgroundContainer{
  position: relative;
  width:98%;
  margin-left:1%;
  margin-top: 1%;
  height:97vh;
  border-radius: 4%;
  background-image:url('../image/b17.png');
  background-repeat: no-repeat;
  background-size: cover;
  border:12px solid #f9667e;
}

.rightpage , .leftpage{
	position: absolute;
	left: 50%;
	margin: 0 auto;
	border: 4px solid #f9667e;
	width: 45%;
	/*background-image: url(../image/4.jpeg);*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 67%;
	margin-top: -32px;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	animation: fadein 6s 1 linear;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	border-left: 5px dotted  black;
} 

@keyframes fadein {
	1% {
		opacity: 1;
		background-image: url(../image/4.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		/*transform: skewY(20deg);*/
	}
	20% {
		opacity: 1;
		background-image: url(../image/couple.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	100% {
		opacity: 1;
		background-image: url(../image/couple.jpg);
		background-size: cover;
		background-repeat: no-repeat;

	}
}

.leftpage {
	background-image: url(../image/4.jpeg);
	transform-origin: 0% 50%;
	animation: flip 6s 1 linear;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity 2s ease-in;
	animation-delay: 3s;
	animation-fill-mode: forwards;
} 
@keyframes flip {
	0% {
		transform: perspective( 600px )
		rotateY( -0deg );
	}
	20% {
		background-image: url('../image/4.jpeg');
	}
	30% { 
		transform: perspective( 1500px )
		rotateY( -90deg );
		background-image: url('../image/4.jpeg');
	}
	50% {
		opacity:0.5;
	}
	60% {
		transform: perspective( 1500px )
		rotateY( -180deg );
		background-image:url('../image/couple2.jpeg');
	}
	100% {
		transform: perspective( 1500px )
		rotateY( -180deg );
		background-image:url('../image/couple2.jpeg');
		border-left: 5px dotted black;
	}
}

.logo {
    height: 70px;
    border: 0px solid black;
    border-radius: 27%;
}

.img-rounded {
	max-height: 100%;
	max-width:100%;
    border-radius: 27%;
}

.Ganpati {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image:url('../image/Ganpati.png');
	background-size: cover;
	opacity: 0;
	background-repeat: no-repeat;
    animation: gFadein 6s 1 linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes gFadein {
	0% { 
		opacity: 0;
	}
	20% { 
		opacity: 0.1;
	}
	40% { 
		opacity: 0.4; 
	}
	60% {
		opacity: 0.7; 
	}
	100% {  
		opacity: 1; 
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {

  	.rightpage, .leftpage {
  		height: 50%;
  		width: 48%;
  	}
  	.bookDiv {
  		margin-top: 11%;
  	}
  	.namesDiv {
    	margin-top: -17%;
    }
  	
  	.leftpage {
	background-image: url(../image/3223.png) ;
	transform-origin: 0% 50%;
    background-position-x: -7vh;
	animation: flip1 6s 1 linear;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity 2s ease-in;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	} 
	@keyframes flip1 {
	0% {
		transform: perspective( 600px )
		rotateY( -0deg );
	}
	20% {
		background-image: url('../image/3223.png');
	}
	30% { 
		transform: perspective( 1500px )
		rotateY( -90deg );
		background-image: url('../image/3223.png');
	}
	50% {
		opacity:0.5;
	}
	60% {
		background-image:url('../image/114.png');
	}
	100% {
		transform: perspective( 1500px )
		rotateY( -180deg );
		background-image:url('../image/114.png');
		background-position: -5vh 0vh;
		border-left: 5px dotted black;
	}
}
@keyframes fadein {
	20% {
		opacity: 1;
		background-image: url(../image/117.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
	100% {
		opacity: 1;
		background-image: url(../image/117.png);
		background-size: cover;
		background-position: -5vh;
		background-repeat: no-repeat;
		/*transform: skewY(20deg);*/
	}
}