h1 {
    font-size: 238%;
    font-family: cursive;
    font-weight: 700;
    margin-left: 12%;
    margin-top: 54%;
    text-decoration: underline;
}
	
.backgroundContainer{
  width:98%;
  margin-left:1%;
  margin-top: 2%;
  height:95vh;
  border-radius: 4%;
  background-image:url('../image/B1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border:12px solid #f9667e;
}

.book {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../image/couple.jpg');
  border-radius: 4%; 
  border: 8px solid #f9667e;
  width: 80%;
  height: 80%;
}

.bookpage_right{
	position: absolute;
	left: 50%;
	margin-top: 2%;
	margin: 0 auto;
	border: 4px solid #f9667e;
	width: 45%;
	margin-bottom: 0.5%;
	top: 20%;
	background-image: url(../image/4.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 60%;
	margin-top: 0.5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	animation: fadein 6s 1 linear;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	border-left: 5px dotted  black;
} 

@keyframes fadein {
	1% {
		opacity: 1;
		background-image: url(../image/4.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		/*transform: skewY(20deg);*/
	}
	20% {
		opacity: 0.7;
		background-image: url(../image/4.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	50% {
		opacity: 0.5;
		background-image: url(../image/couple.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	60% {
		opacity: 0.7;
		background-image: url(../image/couple.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	100% {
		opacity: 1;
		background-image: url(../image/couple.jpg);
		background-size: cover;
		background-repeat: no-repeat;

	}
    /*from { opacity: 0; }
    to   { opacity: 1; }*/
}
.right {
	position: absolute;
	left: 50%;
	margin-top: 2%;
	top: 20%;
	margin: 0 auto;
	border: 4px solid #f9667e;
	width: 45%;
	background-image: url(../image/4.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.5%;
	height: 60%;
	margin-top: 0.5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	transform-origin: 0% 50%;
	animation: flip 6s 1 linear;
	animation-fill-mode:forwards;
	transition: opacity 2s ease-in;
	animation-delay: 3s;
	animation-fill-mode: forwards;
} 
@keyframes flip {
	0% {
		transform: perspective( 600px )
		rotateY( -0deg );
	}
	20% {
		background-image: url('../image/couple2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	30% { 
		transform: perspective( 1500px )
		rotateY( -90deg );
		background-image: url('../image/couple2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	50% {
		opacity:0;
	}
	55% {
		opacity:1;
	}
	60% {
		transform: perspective( 1500px )
		rotateY( -180deg );
		background-image:url('../image/couple2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	100% {
		transform: perspective( 1500px )
		rotateY( -180deg );
		background-image:url('../image/couple2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		border-left: 5px dotted black;
	}
}
img {
	max-height: 100%;
	max-width:100%;
}
.logo, .navDiv {
    width: 120px;
    height: 70px;
    border: 0px solid black;
    margin-top: 12px;
    border-radius: 27%;
    position: relative;
}
.img-rounded {
    border-radius: 27%;
}
.Ganpati {
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
    animation:gFadein 6s 1 linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes gFadein {
	0% { 
		opacity: 0;
		background-image:url('../image/Ganpati.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
	20% { 
		opacity: 0.1;
		background-image:url('../image/Ganpati.png');
		background-size: cover;
		background-repeat: no-repeat; 
	}
	40% { 
		opacity: 0.4; 
		background-image:url('../image/Ganpati.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
	60% {
		opacity: 0.7;
		background-image:url('../image/Ganpati.png');
		background-size: cover;
		background-repeat: no-repeat; 
	}
	100% {  
		opacity: 1;
		background-image:url('../image/Ganpati.png');
		background-size: cover;
		background-repeat: no-repeat; 
	}
}