body{
    background-repeat: no-repeat;
    color: #7b7571;
    background: url(../image/palkur.jpg);
    background-attachment: fixed;
    background-size: cover;

}
.logo {
    height: 70px;
    border-radius: 27%;
}
li {
    display: inline;
    color:#777;
}
.nav-bar{
    list-style: none; 
    font-family: 'Oswald', Verdana, Geneva, sans-serif;
    font-size: 15px;
    display: inline;
}

#menuBar{
    color:#777;
}
 
img {
    max-height: 100%;
    max-width:100%;
}
#nav{
    font-family: 'Oswald', Verdana, Geneva, sans-serif;
    font-size: 20px;
    display: inline;
    margin-top: 30px;
    float: right;
}

#nav > li a::after {
    content: "/";
    color:#777;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.2);
}

.navDiv{
    float: right;
    height: 30px;
}


#home, #Couple{
	height: auto;
	margin-top: 10px;
	
	position: relative;
	/*border:1px dotted blue;*/
	background-color: #f4f4f4;
}
.name{
	color: #f9667e;
}

.img-circle{
	border-radius: 50%;
	border: 20px solid #FFF;
}
.img-res{
	    display: block;
	    width: 363px;
	    height: 363px;
   		max-width: 100%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.profile img{
	margin:40px auto;
}

#Couple{
	background-color: white;
	height: 500px;
	
}
.social-icons {
    margin: 27px auto;
}

.social-icons a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.7em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    margin: 5px;
    border: 4px solid #7b7571;
    background: #7b7571;
}
.social-icons a:hover, .quoteColor, #menuBar:hover, h1 span{
    color: #f9667e;
    text-decoration: none;
}
.img-bg-2{
	background-image: url("../image/couple.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    padding: 60px 0px;
    height: 300px;
}

.couple-title{
	font-size: 53px;
}
.title-block {
    margin: 0px auto 70px auto;
    text-align: center;
 }
 .title-block p{
 	font-size: 18px;
 }
 .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li::first-child {
    margin-top: -27px;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.bg-gray-1 {
    background-color: #f4f4f4;
}
.title-block .divider {
    border-bottom: solid 2px #f9667e;
}

.img-bg-3 {
    background-image: url("../image/couple2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.counterDiv {
    top: 24px !important;
    left: 0px;
    height: 135px;
    width: 135px !important;
    border: 8px dotted white;
    border-radius: 50%;
    background: #f9667e;
}

.counterH4 {
    font-size: 13px;
    line-height: 13px;
    margin-top: 36px !important;
}

.gallery_product {
    margin-bottom: 30px;
}
.featured, .featured-right .featured {
    text-align: center;
}
.featured img, .featured-right .featured img {
    float: none;
    margin: auto;
}
.featured-right .featured img {
    float: left;
    margin-right: 10px;
}
@media (max-width: 1199px) {
.featured img, .featured-right .featured img {
    float: none;
    margin: auto;
}
}

.featured img {
    margin: 0px;
    float: right;
    width: 200px;
    border: 10px solid #FFF!important;
    margin-left: 10px;
}

@media (max-width: 1199px){
.featured img, .featured-right .featured img {
    float: none;
    margin: auto;
}
}
.img-bg-5{
	background: url("image/couple.jpg") no-repeat; 
}
section#footer ul.names {
    font-size: 43px;
}
ul.names {
    list-style: none;
    display: inline;
    font-size: 100px;
    font-weight: 300;
    padding: 0px;
}
section#footer .circle {
    width: 64px;
    height: 64px;
    font-size: 41px;
    line-height: 1.5em;
    top: 0px;
}
.circle{
    background: #f9667e;
}
ul.names li {
    display: inline-block;
}
.circle {
    background: #F9667E;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 63px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 100px;
    margin: 0px;
    color: #FFF;
    top: -15px;
    position: relative;
}
.title-block {
    margin: 0px auto 70px auto;
    text-align: center;
}
.title-block h1 {
    font-size: 53px;
}
.title-block p {
    font-size: 18px;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline > li:first-child > .timeline-badge {
    position: absolute;
    top: 1%;
    left: 50%;
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border-radius: 2px;
    padding: 20px 20px 50px 20px;
    position: relative;
    background: transparent;
    border: 3px solid #ededed;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline > li:first-child {
    margin-top: -27px;
}
.timeline > li:first-child > .timeline-badge {
    position: absolute;
    top: 1%;
    left: 50%;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-heart::before {
    content: "\f004";
}
.text-center {
    text-align: center;
}

.timeline > li:first-child > .timeline-badge {
    position: absolute;
    top: 2%;
    left: 50%;
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border-radius: 2px;
    padding: 20px 20px 50px 20px;
    position: relative;
    background: transparent;
    border: 3px solid #ededed;
}

.timeline > li > .timeline-panel::before {
    position: absolute;
    top: 24px;
    right: -18px;
    display: inline-block;
    border-top: 17px solid transparent;
    border-left: 17px solid #e8e8e8;
    border-right: 0 solid #e8e8e8;
    border-bottom: 18px solid transparent;
    content: " ";
}
.timeline > li .timeline-heading .timeline-title {
    text-align: right;
}
.timeline > li.timeline-inverted .timeline-heading .timeline-title {
    text-align: left;
}
.timeline > li {
    margin-top: -25%;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li.timeline-inverted > .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #f9667e;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
 .timeline > li > .timeline-end > .timeline-badge {
    background-color: #f9667e;
}
.final-frase {
    font-size: 28px;
    margin-top: 20px;
}
.timeline-body img {
    margin: 30px auto;
}
#ajaxForm input[type="checkbox"] {
    display: none;
}
#ajaxForm label.checkbox-button {
    font-family: 'Oswald', Verdana, Geneva, sans-serif;
    font-size: 23px;
    cursor: pointer;
    font-weight: normal;
    color:#f9667e;
}
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}
canvas {
    display: inline-block;
    vertical-align: baseline;
}
.time_circles > div {
    position: absolute;
    text-align: center;
    color: white;
}
.fright {
    float: right !important;
}
.timeline::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    left: 50%;
    margin-left: -1.5px;
}
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic', Arial;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic', Arial;
}